In [1]:
import pandas as pd

C:\Users\sidda\AppData\Roaming\Python\Python310\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\sidda\AppData\Roaming\Python\Python310\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\sidda\AppData\Roaming\Python\Python310\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df= pd.read_csv(r"C:\Users\sidda\Desktop\association rules\Association Rules Problem Statement\population.csv")

In [3]:
df

            City  Gender  Population
0       New York    Male     4125000
1       New York  Female     4300000
2    Los Angeles    Male     1985000
3    Los Angeles  Female     2070000
4        Chicago    Male     1350000
5        Chicago  Female     1400000
6        Houston    Male     1100000
7        Houston  Female     1120000
8        Phoenix    Male      800000
9        Phoenix  Female      810000
10  Philadelphia    Male      750000
11  Philadelphia  Female      770000

In [29]:
df2=df.groupby(df['City']).sum()

C:\Users\sidda\AppData\Local\Temp\ipykernel_30576\1163857587.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2=df.groupby(df['City']).sum()

In [30]:
df2

              Population
City
Chicago          2750000
Houston          2220000
Los Angeles      4055000
New York         8425000
Philadelphia     1520000
Phoenix          1610000

In [41]:
df3=df2['Population'].max()

8425000